@import "./mediaqueries";


.navbar-brand {
    margin: 0;
    padding: 0;

    img {
        width: 100%;
        height: 6rem;
    }
}


.nav-link {

    @include laptop {
        font-size: 1.2rem;
    }

}


.navbar-nav{

    @include tablet{
        display: flex;
        flex-direction: column;
        align-items: end;
        font-size: 1.2rem;
    }
}

.dropdown-menu{
    @include tablet{
        font-size: 1.2rem;
       
    }
}




/*-------footer--------*/
footer {
    background-color: rgba(0, 0, 0, 0.318);
    height: 100%;

}

.grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 110vh;

    @include laptop {
        height: 100%;
    }


    p {
        color: black
    }


    &__ubicacion {
        margin-top: 20px;

        @include laptop {
            height: 90%;
            margin-top: 0px;
        }


        p {
            text-align: center;
            color: black;
            font-weight: 600;

        }


        iframe {
            width: 1200px;
            height: 350px;
            border: 0;

            @include laptop {
                width: 800px;
            }

            @include tablet {
                width: 550px;
            }
        }
    }

    &__iconos {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include laptop {
            height: 30%;
            margin-top: -50px;
        }

        img {
           height: 9rem;
        }

        &--social {

            a {
                text-decoration: none;
            }

            i {
                color: black;
                margin-right: 20px;
                font-size: 60px;
            }
        }

        p {
            text-align: center;
            color: black;
            font-weight: 600;
        }
    }
}

.line {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 1px;
    background: black;
    box-shadow: $sombreado;

    @include laptop {
        width: 900px;

    }

    @include tablet {
        width: 500px;

    }

}