.grid_servicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    margin-bottom: 30px;

    


    &--img {


        img {
            width: 100%;
            object-fit: cover;
            height: 20rem;
            margin-top: 30px;

            @include laptop{

                width: 110%;
                height: 25rem;
            }

        }

    }

    &--img2 {
        margin-top: 250px;

        img {
            width: 100%;
            object-fit: cover;
            height: 20rem;

            @include laptop{

                width: 110%;
                height: 25rem;
            }


        }

    }


    &--text{
        margin-top: 100px;

        p {
            text-align: center;
            font-size: 1.2rem;
    
        }
    
        ul {
            text-align: center;
            list-style: none;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }

}
