.hero {
  margin: 0;
  padding: 0;
}

.contenedor-slider {
  width: 100%;
  height: 80vh;
}

@media screen and (max-width: 1024px) {
  .contenedor-slider {
    height: 70vh;
  }
}

.carousel-item__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .carousel-item__img {
    height: 70vh;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.contImag {
  width: 380px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  height: 300px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .contImag {
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .contImag {
    margin-left: 10px;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .contImag {
    margin-left: 10px;
    height: 250px;
  }
}

.contImag img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contImag h5 {
  text-align: center;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.banner {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.126);
}

@media screen and (max-width: 1024px) {
  .banner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.banner img {
  height: 80px;
}

@media screen and (max-width: 1024px) {
  .banner img {
    height: 60px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .banner img {
    width: 70px;
  }
}

.banner__text {
  font-weight: bold;
  margin-right: 30px;
  padding: 40px 20px 0 10px;
}

@media screen and (max-width: 768px) {
  .banner__text {
    padding: 10px 0;
    padding-left: 30px;
  }
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  height: 6rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-brand img {
    height: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    font-size: 1.2rem;
  }
}

/*-------footer--------*/
footer {
  background-color: rgba(0, 0, 0, 0.318);
  height: 100%;
}

.grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 110vh;
  /*    p {
        color: black;     
        
    } */
}

@media screen and (max-width: 1024px) {
  .grilla {
    height: 100%;
  }
}

.grilla__ubicacion {
  margin-top: 20px;
  /*  p {
            text-align: center;
            color: black;
            font-weight: 600;

           
        } */
}

@media screen and (max-width: 1024px) {
  .grilla__ubicacion {
    height: 90%;
    margin-top: 0px;
  }
}

.grilla__ubicacion iframe {
  width: 1200px;
  height: 350px;
  border: 0;
}

@media screen and (max-width: 1024px) {
  .grilla__ubicacion iframe {
    width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .grilla__ubicacion iframe {
    width: 120%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grilla__ubicacion iframe {
    width: 100%;
  }
}

.grilla__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  p {
            text-align: center;
            color: black;
            font-weight: 600;
        } */
}

@media screen and (max-width: 1024px) {
  .grilla__iconos {
    height: 30%;
    margin-top: -50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grilla__iconos {
    height: 10%;
    margin-top: -270px;
  }
}

.grilla__iconos img {
  height: 9rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grilla__iconos img {
    height: 7rem;
  }
}

.grilla__iconos--social a {
  text-decoration: none;
}

.grilla__iconos--social i {
  color: black;
  margin-right: 20px;
  font-size: 60px;
}

.line {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  height: 1px;
  background: black;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
  .line {
    width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .line {
    width: 500px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .line {
    width: 300px;
    margin-top: -100px;
  }
}

.text {
  text-align: center;
  color: black;
  font-weight: 600;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .text {
    font-size: 1.2rem;
  }
}

.text2 {
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .text2 {
    margin-top: -120px;
  }
}

/*--botones filtrado--*/
.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.lentes {
  position: relative;
  width: 320px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  height: 300px;
  margin: 20px 10px;
  /*   @include movil {
        height: 200px;
    } */
  /*  &:hover {
        animation: kenburns-top 0.5s ease-out both;
    }
*/
}

.lentes:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.lentes img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(40, 1, 1, 0.249);
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.overlay h2 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  left: 20%;
}

.galeria2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.prodInt {
  width: 320px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  height: 300px;
  margin-bottom: 60px;
  /* 
    @include movil{
        height: 200px;
    }
 
    &:hover {
        z-index: 1;
        animation: kenburns-top 3s ease-out both;
    } */
}

.prodInt img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prodInt h5 {
  text-align: center;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(251, 9, 33, 0.167);
}

.grid_servicio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .grid_servicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.grid_servicio--img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  .grid_servicio--img img {
    width: 110%;
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .grid_servicio--img img {
    width: 100%;
  }
}

.grid_servicio--img2 {
  margin-top: 250px;
}

@media screen and (max-width: 768px) {
  .grid_servicio--img2 {
    margin: 20px 0;
  }
}

.grid_servicio--img2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
}

@media screen and (max-width: 1024px) {
  .grid_servicio--img2 img {
    width: 110%;
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .grid_servicio--img2 img {
    width: 100%;
  }
}

.grid_servicio--text {
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .grid_servicio--text {
    margin: 0;
  }
}

.grid_servicio--text p {
  text-align: center;
  font-size: 1.2rem;
}

.grid_servicio--text ul {
  text-align: center;
  list-style: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.slider2 {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.carrusel {
  height: 100%;
}

.carrusel img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.carrusel h5 {
  color: white;
}

.formulario {
  margin: 30px 0;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  /* @include laptop{
        width: 110%;
        font-size: 1.2rem;
    } */
}

@media screen and (max-width: 1024px) {
  .formulario .btn {
    height: 50px;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

body main {
  border-bottom: tomato 1px solid;
  padding: 0 150px;
}

@media screen and (max-width: 1024px) {
  body main {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body main {
    padding: 0 20px;
  }
}

body h1 {
  text-align: center;
  -webkit-text-decoration: underline rgba(250, 144, 125, 0.605) solid 3px;
          text-decoration: underline rgba(250, 144, 125, 0.605) solid 3px;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  body h1 {
    margin-top: 20px;
  }
}

body h2 {
  color: #182163;
  padding: 5px 0;
}

body h3 {
  color: #182163;
  padding: 5px 0;
}

body h4,
body h5 {
  color: #182163;
  padding: 5px 0;
}

body p {
  color: #434d17;
  padding: 10px 0;
  font-size: 1.1rem;
}
/*# sourceMappingURL=main.css.map */